<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.vchohan.androidexamples">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".DataBindingActivity"
                android:label="@string/data_binding_example"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".ListViewActivity"
                android:label="@string/list_view_example"
                android:parentActivityName=".MainActivity" />
        <activity
                android:name=".MovableActivity"
                android:label="@string/movable_activity_example"
                android:parentActivityName=".MainActivity" />
    </application>

</manifest>